---
import Time from "@/icons/Time.astro";

import type { Song } from "@/lib/data.ts";

interface Props {
   songs: Song[] 
}

const { songs } = Astro.props
---
 
<table class="table-auto text-left min-w-full divide-y-2 divide-gray-500/20">
    <thead class="">
        <tr class="text-zinc-300 text-sm ">
            <th class="px-4 py-2 font-light">#</th>
            <th class="px-4 py-2 font-light">Título</th>
            <th class="px-4 py-2 font-light">álbum</th>
            <th class="px-4 py-2 font-light text-zinc-300"><Time/></th>
        </tr>
    </thead>

    <tbody>
        <tr class="h-[10px]"></tr>
        {
            songs.map((song, index) => {
                return (
                    <tr class="text-gray-300 text-sm font-light hover:bg-white/10 rounded overflow-hidden">
                        <td class="px-4 py-2 rounded-y-lg rounded-l-lg transition duration-300 w-4">{index + 1}</td>
                        <td class="px-4 py-2 flex gap-3">
                            <picture class="">
                                <img src={song.image} alt={song.title} class="w-11 h-11 rounded">
                            </picture>
                            <div class="flex flex-col">
                                <h3 class="text-white text-base font-normal">{song.title}</h3>
                                <span>{song.artists.join(", ")}</span>
                            </div>
                        </td>
                        <td class="px-4 py-2">{song.album}</td>
                        <td class="px-4 py-2 rounded-y-lg rounded-r-lg">{song.duration}</td>
                    </tr> 
                )
            })
        }
    </tbody>
</table>
